# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e4e8529c3fdae608ef5cb328466fc90959a5477e8801e1ab8551b33bf2069456e15345433f45cc079dcb13991614711bc46919dab21e6695ff2ced81fbe5a42b

test:
  secret_key_base: 3c92f8edf3ae2b64a0562a68d0e104ea4db9b62bed7f37cf21a19432857ebcd0d2e9c6539f1725440a4bdbd2e29ac86fd302086aa349ee4691d85d7d1131da10

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
