<div class="col-md-12">
  <h1>Statistics</h1>
  <div class="row">
    <div class="col-md-4">
      <h3>In Stock</h3>
    </div>
    <div class="col-md-4">
      <h3>Ordered</h3>
    </div>
    <div class="col-md-4">
      <h3>?</h3>
    </div>
  </div>
</div>
